<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= link_to image_tag(@user.image,{alt:'プロフ画像'}), edit_user_registration_path %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'users/stats' %>
      </section>

  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if signed_in? %><br>
    <% @tsubuyakis = @user.tsubuyakis.order(created_at: :desc) %>
    <% @tsubuyakis.each do |tweet|  %>
      <p><%= tweet.tweet  %></p>
      <p><%= tweet.created_at %></p>
      <hr class="style6">
    <% end %>
  </div>
</div>
