
<%= image_tag 'spartter.png' ,alt:'spartter' %>
<div class="row">

  <div class='col-md-3' >
    <div class="top-profile">
      <div class="thumbnail">
        <% if user_signed_in? %>
          <% user = current_user %>
          <%= link_to image_tag(user.image,{alt:'プロフ画像'}), user_path(user) %>
          <div class="caption">
            <p>ユーザー名:<%= user.name %></p>
            <p>ユーザー詳細:<%= user.description %></p>
          </div>
          <section class="stats">
          <%= render 'users/stats' %>
          </section>
        <% end %>
      </div>
    </div>
  </div>
  <div class = 'col-md-9'>
        <h3>全てのつぶやき</h3>
        <hr class="style6">
        <% @tweets.each do |tweet| %>
          <div class="article">
                <p>つぶやいた人：<%= link_to tweet.user.name,tweet.user %></p>
                <p><i>つぶやき日時：<%= tweet.created_at %></i></p>
                <p><strong>つぶやき：<%= simple_format(tweet.tweet) %></strong></p>
                <% if current_user==(tweet.user)  %>
                    <%= link_to "削除", tweet, method: :delete,data: {confirm: "本当に削除しますか?"} ,class: "btn btn-warning"%>
                <% end %>
                <hr class= "style6">
          </div>
        <% end %>
        <%= paginate @tweets %>
  </div>
</div>
