<h1>新規投稿</h1>
<% if @tweet.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <div id="error_explanation">
          <h4><%= @tweet.errors.count %>件のエラーがあります。</h4>
          <ul>
          <% @tweet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
<%= form_for @tweet do |f| %>
      <div class="form-group">
        <%= f.label 'ツイート内容' %>
        <%= f.text_field :tweet, autocomplete: "off",class: "form-control" %>
      </div>
      <%= f.submit 'ツイートする', class: "btn btn-primary" %>
<% end %>
